*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
app/release.keystore
*.jks
*.keystore

# Marketing Assets
App-logo-new.png
feature_graphic.png
play_store_icon.png
screenshots/
